extends layout

block content
  for err in errors
    div(class=err.level)= err.text
  h1= title
  .pure-u-1    
    table(style="text-align:left")
      thead
        tr 
          th Who
          th What
          th When
      tbody
        each val in commits
          tr 
            td= (val.commiter||val.author) !== undefined ? (val.commiter||val.author).name : "Unknown"
            td= val.message
            td
              div                
                span(style='width: 20px;' class='icon-book')
                a(href=val.url)=val.when.format('DD MMM YYYY HH:mm:ss')
  if(nextCommit !== undefined)
    a(href=nextCommit.url+'history/'+limit)='Next'  
